$black: #212121;
$white: #fff;

$mobile: 480px;
$tablet: 768px;

:root {
  --whiteSpace: 20px;
  --container: 1172px;
}

@mixin flexItem($algn, $jst, $flow) {
  display: flex;
  align-items: $algn;
  justify-content: $jst;
  flex-flow: $flow;
}
